<nav class="navbar navbar-expand-lg bg-light ">
    <div class="container">
        <a class="navbar-brand" href="">Post Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item d-flex">
                    <a class="nav-link mx-3" href="/">Home</a>
                    <a class="nav-link mx-3" href="/add">Add</a>
                    <a class="nav-link mx-3" href="/addPost">addPost</a>
                </li>
            </ul>
        </div>
    </div>
</nav>